*{
    margin: 0px 0px;
    padding: 0px 0px;
}
.header{
    min-height: 120px;
    width: 100%;
    float: left;
}
.header-right{
    height:80px ;
    width: 20%;
    float: left;
}
.header-left{
    height: 80px;
    width: 80%;
    float: left;
}
.header-left ul{
    list-style: none;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 0px 0px 210px;
    font-weight: 400;
}
.header-left ul,li{
    float: left;
    padding: 35px 20px 0px 20px;
}
.header-left ul,li,a{
    float: left;
    text-decoration: none;
    color: black;
}
